html, body {
    padding: 0;
    margin: 0;
    width: 1920px;
    height: 1080px;
}

.container {
    width: 1920px;
}

#left_views {
    float: left;
    margin-top: 20px;
  margin-left: 10px;
    width: 1250px;
}

#right_views {
    float: left;
    margin-top: 20px;
  margin-left:0;
    width: 550px;
}


.map_panel {
    float: left;
    width: 602px;
    height:543px;
    margin: 10px;
    padding: 0px;
}

.map_panel_body {
    width: 600px;
    height: 500px;
    margin: 0px;
    padding: 0px;
}

.radial_graph_panel {
    float: left;
    width: 402px;
    height:663px;
    margin: 10px;
    padding: 0px;
}

.radial_graph_panel_body, #radial_graph_svg {
    width: 400px;
    height: 620px;
    margin: 0px;
    padding: 0px;
}

.flowmap_panel {
    float: left;
    width: 805px;
    height:663px;
    margin: 10px;
    padding: 0px;
}

.flowmap_panel_body {
    width: 800px;
    height: 620px;
    margin: 0px;
    padding: 0px;
}

#cluster_0_name {
    position: relative;
    display: inline;
    top: 580px;
    left: 50px;
}

#cluster_1_name {
    position: relative;
    display: inline;
    top: 580px;
    left: 220px;
}

#cluster_2_name {
    position: relative;
    display: inline;
    top: 580px;
    left: 360px;
}

.parallel_coordinates_panel {
    width: 550px;
    height:443px;
    margin: 10px;
    padding: 0px;
}

.parallel_coordinates_panel_body {
    width: 550px;
    height: 400px;
    margin: 0px;
    padding: 0px;
}

.matrix_panel {
    width: 550px;
    height:343px;
    margin: 10px;
    padding: 0px;
}

.lineup_panel {
    width: 550px;
    height: 420px;
    margin: 10px;
    padding: 0px;
}

.lineup_panel_body {
    width: 550px;
    height: 420px;
    margin: 0px;
    padding: 0px;
}

.horizon_chart {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    padding: 0px;
    margin: 0px;
}

/* line up scroll bar*/
.lu-mode-separate .lu-wrapper {
  overflow: scroll;
  height:270px;
}


/*parallel coordinates*/
#parallel_coordinates .background path {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
}

#parallel_coordinates .foreground path {
    fill: none;
    stroke: dodgerblue;
}

#parallel_coordinates .brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

#parallel_coordinates .axis line,
#parallel_coordinates .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#parallel_coordinates .axis path{
  stroke-width: 2px;
}

#parallel_coordinates .axis text {
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    cursor: move;
}

.horizon_chart_timeIndicator text {
    font: 10px sans-serif;
}

.horizon_chart_timeIndicator line,
.horizon_chart_timeIndicator path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.panel .panel-heading {
  /*background-image: linear-gradient(to bottom,#91c6de 0,#6daccf 45%,  #378fb4  55%, #6fc3dd 100%);*/
  background-image: linear-gradient(to bottom,#898989 0,#4f4f4f 45%,  #0a0a0a  55%, #0a0a0a 100%);
  color:white;
  font-size: 15px;
}



.btn-primary{
  /*background-image: linear-gradient(to bottom,#1978a9 0,#005483 100%);*/
  background-image: linear-gradient(to bottom, #338cf4 0,#5fb1fd 45%, #004aff 55%, #1e61ed 100% );
}

.ui-widget-header{
  background: #f6a828 url("images/ui-bg_diagonals-thick_22_1484e6_40x40.png") 50% 50% repeat-x;
}



.tooltip-inner{
  background-color: grey;
  opacity: 0.8;
}

.tooltip.right .tooltip-arrow {
  border-right-color: grey;
  opacity: 0.8;
}

#legend_src_map,
#legend_des_map,
#legend_tree_map,
#legend_parallel_coordinates,
#legend_matrix,
#legend_lineup {
  position:absolute;
  width:160px;
  height:80px;
  background-color: white;
  opacity: 0.8;
  border-radius: 5px;
  z-index: 1000;
}

#legend_src_map {
  left:462px;
  top:495px;
}

#legend_des_map {
  left:1084px;
  top:495px;
}

#legend_tree_map {
  left:870px;
  top:685px;
  height:45px;
  width:140px;
}

#legend_parallel_coordinates{

  width:80px;
  height:160px;
  left:1796px;
  top:705px;
}

#legend_matrix{
  left:1669px;
  top:332px;
}

#legend_lineup{
  width:550px;
  left:1285px;
  top:1304px;
}

.d3-overlay {
  z-index: 10;
}
