
#lugui-menu {
    background-color: lightgray;
    border-radius: 5px;

    font-family: 'Lato', Helvetica, Arial;
    font-weight: normal;
    font-size: 11pt;
    white-space: nowrap;
    padding: 5;
    width: 100%;
}

#lugui-menu a {
    font-size: 10pt;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: royalblue;

}

#lugui-menu a:hover {
    font-weight: bold;
}

#lugui-menu-actions span, form span {
    font-size: 10pt;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: royalblue;
    background-color: white;
    border-radius: 4px;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    cursor: pointer;
}

#lugui-menu-actions span:hover {
    background-color: darkgrey;
}

#lugui-menu {
}

/**
 * basic wrapper of LineUp
 */

#lugui-wrapper {
    clear: both;
    /*position: absolute;*/
    /*top: 35px;*/
    padding: 0;
    width: 100%;
    height: -moz-calc(100% - 35px);
    height: -webkit-calc(100% - 35px);
    height: calc(100% - 35px);
}

#drop_zone {
    border: 2px dashed #BBB;
    border-radius: 5px;
    padding: 1px 2em;
    text-align: center;
    color: #BBB;
}