.lu .weightHandle {
    fill: white;
    /*stroke:grey;*/
    /*stroke-width:1;*/
    cursor: col-resize;
}

.lu .headerLabel {
    font-family: 'Lato', Helvetica, Arial;
    font-weight: bold;
    font-size: 9pt;
    dominant-baseline: middle;
    fill: black;
    pointer-events: none;
    /*stroke-size:.1;*/
    /*stroke:white;*/
}

.lu g.hist rect {
    fill: black;
    opacity: 0.3;
}

.lu g.hist rect.hover {
    fill: red;
    opacity: 0.8;
}

.lu text.headerSort {
    font-family: 'FontAwesome';
    font-size: 10pt;
    fill: white;
}

.lu .tableData {
    font-family: 'Lato', Helvetica, Arial;
    font-weight: normal;
    font-size: 9pt;
    dominant-baseline: middle;
    fill: darkgrey;
}

.lu .tableData.action text {
    font-family: 'FontAwesome';
    font-size: 10pt;
    font-weight: bold;
    dominant-baseline: central;
    text-anchor: middle;
    fill: grey;
    user-select: none;
}

.lu .tableData.action text:hover {
    cursor: pointer;
    fill: black;
}

.lu .emptyHeader {
    opacity: .5;
}

.lu .sortedColumn {
    font-weight: bolder;
    font-size: 11pt;
}

.lu .fa {
    position: relative;
    top: .5pt;
}

.lu .addColumnButton rect {
    fill: white;
    border-radius: 5px;
}

.lu .addColumnButton rect:hover {
    fill: darkgray;

}

.lu .addColumnButton text {
    font-family: 'FontAwesome';
    font-size: 10pt;
    font-weight: bold;
    fill: black;
    dominant-baseline: central;
    text-anchor: middle;
    pointer-events: none;
    user-select: none;
}

.lu .fontawe {
    font-family: 'FontAwesome';
    font-size: 10pt;
    dominant-baseline: central;
    text-anchor: middle;
}

.lu .stackedColumnInfo, .singleColumnDelete, .singleColumnFilter {
    fill: lightgrey;
    cursor: pointer;
}

.lu .singleColumnFilter.filtered {
    fill: steelblue;
}

.lu .stackedColumnInfo:hover, .singleColumnDelete:hover, .singleColumnFilter:hover {
    fill: white;
}

/* for gui helper */
.lu .stackedOption rect {
    fill: white;
    opacity: .9;
}

.lu .stackedOption text {
    font-family: 'FontAwesome';
    font-size: 9pt;
    dominant-baseline: central;
    font-weight: bold;
    fill: black;
    cursor: pointer;

}

.lu .stackedOption text:hover {
    fill: royalblue;
}

.lu .dragObject {
    opacity: .5;
}

.lu .dragHeader {
    fill: grey;
    opacity: .6;
}

.lu .row rect.filler {
    fill: transparent;
}
.lu .row.hover text {
    fill: black;
    font-weight: bold;
}
.lu .row.values text {
    fill: black;
}
.lu .row.hover rect.tableData, .lu .row.hover g.tableData rect,
.lu .row.values rect.tableData, .lu .row.values g.tableData rect{
    opacity: 0.5;
}
.lu .row .hoveronly {
    pointer-events: none;
    user-select: none;
}
.lu .row .valueonly {
    user-select: none;
}

.lugui-me line.axis, .lugui-me g.data line {
    stroke: gray;
}
.lugui-me line.bound {
    stroke: black;
    stroke-width: 2;
}
.lugui-me circle.handle {
    fill: steelblue;
    cursor: pointer;
}
.lugui-me circle.handle.dragging {
    fill: black;
}
.lugui-me text.drag {
    visibility: hidden;
}
.lugui-me text.centered {
    text-anchor: middle;
}

.lu-popupBG {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.3;
}

.lu-popup {
    background: white;
    position: absolute;

    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 5px #888888;

    font-family: 'Lato', Helvetica, Arial;
    font-size: 10pt;
    dominant-baseline: central;
    text-anchor: middle;
}

.lu-popup .selectionTable {
    background: white;
    overflow-x: auto;
    overflow-y: scroll;
}
.lu-popup .selectionTable table {
    width: 95%;
    border: 0;
}
.lu-popup .ok {
    position: absolute;
    right: 10px;
}

.lu-popup .selectionTable tr:hover {
    background-color: lightblue;
}

.lu-popup2 {
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    padding: 2px;

    font-family: 'Lato', Helvetica, Arial;
    font-size: 10pt;

    clear: right;
}

.lu-popup2 * {
    margin: 0;
}
.lu-popup2 .ok {
     float: right;
}

.lu-tooltip {
    background-color: white;
    min-width: 200px;
    position: absolute;
    z-index: 3;
}
.lu-tooltip table {
    width: 100%;
    border-collapse: collapse;
}
.lu-tooltip tbody th{
    width: 30%;
}
.lu-tooltip td, .lu-tooltip th {
    border: 1px solid black;
}


/**
 * in the combined mode just a single svg is used and the container is the scrolling container
 */
.lu-mode-combined {
    overflow-x: visible;
    overflow-y: auto;
}

/*
 * in the separate mode a dedicated header and body svg are used
 */
.lu-mode-separate .lu-header {
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    width: 100%;
    height: 50px;
}

/*
 * in the separate mode a dedicated header and body svg are used, with an additional wrapper div for the body as scrolling container
 */
.lu-mode-separate .lu-wrapper {
    position: relative;
    left: 0;
    /*top: 50px;*/
    width: 100%;
    /*height: -moz-calc(100% - 50px);*/
    /*height: -webkit-calc(100% - 50px);*/
    /*height: calc(100% - 50px);*/
    overflow-x: visible;
    overflow-y: auto;
}